__pycache__
.idea
.vscode
*.ipynb
*.png
*.txt
!pair.ipynb
!single.ipynb
!lstm.ipynb
!rnn.ipynb
!quack.ipynb
!leadlag.ipynb
!leadlag_linear.ipynb
!doc.ipynb
!other.ipynb
!corr_comb_frenzy.ipynb
!data.ipynb
*.docx
*.xlsx
*.dump
*.zip
record_data*.csv
algothon2025_notes/*